.section--interestings {
    padding-bottom: 4em;
}

.interestings {
    text-align: center;    
    @include limitWidthNormalScreen();
    
    @include mq(big) {
        @include limitWidthBigScreen();
        display: flex;
    }
}