@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lato:300,400,900');

html {
    font-family: $ff-ss;
    font-size: 100%; // 1rem = 16px
    line-height: 1.6;
    font-weight: fw(light);

}

body {
    @include font(1rem, fw(light), gray(4), $ff-ss, 1);

    @include mq(big) {
        @include font($fs: 1rem, $lh: 1.125);
    }
}

h3 {
    font-size: 1.3125rem;
    line-height: 1.2;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

.section {
    &__heading {
        @include font(3rem, fw(normal), $primary, $ff-serif, 1);
        text-align: center;

        @include mq(big) {
            font-size: 3.75rem;
        }

        .section--testimonials & {
            margin-bottom: 1em; 
        }

        &--accent {
            color: gray(1); 
        }
    }
    
    &__sub-heading {
        @include font(1.68rem, fw(normal), gray(3), $ff-ss, 1.1);     
        margin-top: 1em;
        text-transform: uppercase;
        text-align: center;
    }
}

.page-heading {
    @include font(3rem, fw(normal), gray(1), $ff-serif, 1.2);
    text-align: center;
    
    @include mq(big) {
        font-size: 5rem;
    }
}